<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <li>
  <% if task.completed %>
    <i class="fa fa-check-square-o" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-square-o" aria-hidden="true"></i>
  <% end %>
   <%= link_to task.title, task_path(task) %> ᐧ
   <%= link_to task_path(task),
        method: :delete,
        data: { confirm: "Delete #{task.title}?"} do %>
          <i class="fa fa-trash-o" aria-hidden="true"></i>
    <% end %>
 </li>
  <% end %>
</ul>

<hr>

<%= link_to new_task_path  do %>
<i class="fa fa-plus" aria-hidden="true"></i> Add a new task
<% end %>
